body {
  font-family: Arial, Helvetica, sans-serif;
  /*font-size: 12px;*/
}
.salary_table {
  width: 400px;
  background-color: rgb(37, 77, 77);
}

.headers_of_table {
  width: 350px;
  background-color: aquamarine;
}
.rows_of_table {
  background-color: beige;
  width: 350px;
  border: solid 2px;
}
.row_in_table {
  background-color: blueviolet;
  width: 350px;
  height: 50px;
  /*border: solid 2px;*/
}
.name {
  width: 160px;
  background-color: rgb(200, 230, 118);
  float: left;
  text-align: center;
}
.salary {
  width: 160px;
  background-color: rgb(48, 228, 63);
  float: left;
  text-align: center;
}
.header {
  width: 160px;
  background-color: rgb(95, 60, 13);
  float: left;
  text-align: center;
  border: solid 2px;
}
.boxmodelA {
  width: 100px;
  height: 100px;
  background-color: antiquewhite;
  padding: 10px;
  border: solid 5px coral;
  margin: 10px;
}
.boxmodelB {
  width: 100px;
  height: 100px;
  background-color: rgb(215, 250, 217);
}
